#proyectos{
	text-align: center;
}
.listaProyecto{
	position: relative;
    padding: 10px 10px 5px;
    background: #fff;	
}
.info{
	position: absolute;
	z-index: 222;
	padding: 10px 25px;
	text-align: left;
	height: 100%;
	top: 0;
	left: 0;
	color: gray;
	background-color: white;
	opacity: 0;
	width: 100%;
}
.info p{
	font-size: 10px;
}
.info h5{
	font-size: 13px;
	margin-bottom: 5px;
}
.info:hover{
	opacity: 0.9;
}
.imagen {
	display: block;
	width: 100%;
	height: auto;
}
.cajita{
	box-sizing: border-box;
	padding-bottom: 20px;	
}
.social {
    text-align: right;
    color: #aaa;
    padding: 5px 10px;
    background: #fff;
    font-size: 85%;
}
.social span {
	margin-right: 5px;
}